<%- model_class = FilledForm -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Edit #{model_class.model_name.human}") %></h1>
</div>
<%= content_tag :div, t('.what_is_it_html'), class: 'alert alert-block alert-info' %>
<%= content_tag :div, @filled_form.form.description %>
<%= render :partial => 'form' %>
