<div class="page-header">
  <h1><%= @form.title %></h1>
</div>
<%= content_tag :div, @form.description, data: { markdown: @form.description } %>
<%= content_tag :p, t('.are_you_sure_html', name: @form.title), class: 'alert' %>
<%= render :partial => 'create_form' %>
