// Place all the styles related to the fields controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul#fields {
  li {
    margin: 10px 0px
  }

  .handle {
    color: #777;
    cursor: move;
    font-size: 12px;
  }
}
