<div class="container nav-collapse">
  <ul class="nav">
    <li><%= link_to "Link1", "/path1"  %></li>
    <li><%= link_to "Link2", "/path2"  %></li>
    <li><%= link_to "Link3", "/path3"  %></li>
  </ul>
  <div class="pull-right">
    <ul class="nav pull-right">
      <li><%= link_to "<i class='icon-signin'></i> ورود کاربر".html_safe, new_user_session_path %></li>
    </ul>
  </div>
</div><!--/.nav-collapse -->
