<div class="container nav-collapse">
  <ul class="nav">
    <li><%= link_to t('.blog'), blogs_path  %></li>
  </ul>
  <div class="pull-right">
    <ul class="nav pull-right">
      <li><%= link_to t('.sign_up_html'), new_user_registration_path %></li>
      <li><%= link_to t('.sign_in_html'), new_user_session_path %></li>
    </ul>
  </div>
</div><!--/.nav-collapse -->
